#### Backend Exclusions and Includsions ####
# Exclude all uploaded local files
backend/Translator/data/uploads/*


#### Frontend Exclusions and Includsions ####



#### Deployment Exclusions and Inclusions ####
